@font-face {
    font-family: "Rubik-Medium";
    src: url("../webfonts/Rubik-Medium.ttf") format("truetype");
}
@font-face {

    font-family: "Rubik-Black";
    src: url("../webfonts/Rubik-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-BlackItalic";
    src: url("../webfonts/Rubik-BlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-Bold";
    src: url("../webfonts/Rubik-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-BoldItalic";
    src: url("../webfonts/Rubik-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-ExtraBold";
    src: url("../webfonts/Rubik-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-ExtraBoldItalic";
    src: url("../webfonts/Rubik-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-Italic";
    src: url("../webfonts/Rubik-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-Light";
    src: url("../webfonts/Rubik-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-LightItalic";
    src: url("../webfonts/Rubik-LightItalic.ttf") format("truetype");
} 

@font-face {
    font-family: "Rubik-MediumItalic";
    src: url("../webfonts/Rubik-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-Regular";
    src: url("../webfonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-SemiBold";
    src: url("../webfonts/Rubik-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-SemiBoldItalic";
    src: url("../webfonts/Rubik-SemiBoldItalic.ttf") format("truetype");
}